# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
**/dist/
**/build/

# LaTeX
*.aux
*.log
*.pdf
*.synctex.gz
*.toc
*.bbl
*.blg

#netbeans specific
**/nbproject/private/private.xml

# Own choices
Data/
*__pycache__*
/Code/Simple/Naive/build/
/Code/Simple/Naive/dist/
!/Articles/*
*callgrind.out.*
/Code/Simple/Preallocated/build/
/Code/Simple/Preallocated/dist/

#link to boost library
/Code/boost
