# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
SimpleWaveletConstruction/dist/
SimpleWaveletConstruction/build/

#netbeans specific
SimpleWaveletConstruction/nbproject/private/private.xml

# Own choices
Data/
